@font-face {
    font-family: "Comic Sans MS";
    src: url(COMIC.TTF);
}
body {
    text-align: center;
    background-color: rgb(255, 233, 218);
    color: black;
    font-family: "Comic Sans MS";
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 18px;
}
p {
    font-size: 18px;
}